# Zomato ETL

In [1]:
import json
import pandas as pd
import numpy as np

## Zomato Data

In [2]:
#import json data --> will be in loop in future

file_to_read = "../zomato_1/file4.json"
with open(file_to_read, mode='r') as file:
    json_data = json.load(file)

In [3]:
#may be not important if we only focus on the USA

#import the country code file
file_country_code = "../zomato_1/Country-Code.xlsx"
country_code = pd.read_excel(file_country_code)
country_code_df = pd.DataFrame(country_code)
# country_code_df

In [4]:
# creating dataframe for zomato restaurants

#overall dataframe to hold all data
zomato_df = pd.DataFrame()

In [5]:
 #calculate the length of the first layer
    #used to determine the number of times to loop through
len(json_data)

479

### Individual Restaurant Layer --> Build into future Loop

In [6]:
#Current Index Number
#building in variables to allow for future looping

#layer of the json file --> will become the loop from (len(jsondata))
index= 1

#individual restaurant --> will become the loop for indiviual restaurants (json_data[index]['results_found'])
resto = 0

In [13]:
#Find the first 'layer' of restaurants --Index = 1
# Find how many restaurants are in the first layer
number_resto = len(json_data[index]['restaurants'])
number_resto

IndexError: list index out of range

In [15]:
length = len(json_data)
length

479

In [8]:
#dataframe to hold looping information --> will move to loop once created
resto_df = pd.DataFrame()

In [9]:
#Pull the relevant data points for the restaurant
#next steps: create as a function to allow for easy looping through the multiple layers of JSON Data

# length = [0,1,2] test length
# number_resto = json_data[index]['results_found']
# number_resto
index = 0
resto = 0

while index < len(json_data):
    print(index)
    
    while resto <len(json_data[index]['restaurants']) :
        resto_df = pd.DataFrame()
        resto_df['ID'] =  [json_data[index]['restaurants'][resto]['restaurant']['R']["res_id"]]
        resto_df['name'] = [json_data[index]['restaurants'][resto]['restaurant']['name']]
        resto_df['cuisines'] = [json_data[index]['restaurants'][resto]['restaurant']['cuisines']]
        resto_df['price_range'] = [json_data[index]['restaurants'][resto]['restaurant']['price_range']]
        resto_df['user_rating'] = [json_data[index]['restaurants'][resto]['restaurant']['user_rating']['aggregate_rating']]
        resto_df['address'] = [json_data[index]['restaurants'][resto]['restaurant']['location']['address']]
        resto_df['city'] = [json_data[index]['restaurants'][resto]['restaurant']['location']['city']]
        resto_df['country_id'] = [json_data[index]['restaurants'][resto]['restaurant']['location']['country_id']]
        #     Build in country_id to country name

        resto_df['longitude'] = [json_data[index]['restaurants'][resto]['restaurant']['location']['longitude']]
            #round to 6 decimal places

        resto_df['latitude'] = [json_data[index]['restaurants'][resto]['restaurant']['location']['latitude']]
        #round to 6 decimal places

        resto= resto + 1
        zomato_df = zomato_df.append(resto_df)

    index = index+1
    
    
    
zomato_df.count()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478

ID             20
name           20
cuisines       20
price_range    20
user_rating    20
address        20
city           20
country_id     20
longitude      20
latitude       20
dtype: int64

In [10]:
#append the information from the resto_df to zomato_df

# zomato_df = zomato_df.append(resto_df)

In [11]:
zomato_df

,ID,name,cuisines,price_range,user_rating,address,city,country_id,longitude,latitude
0,16604370,Mad Cowes Cafe,"Breakfast, Coffee and Tea, Modern Australian",2,3.7,"4/17 The Esplanade, Cowes, VIC",Phillip Island,14,145.2378130000,-38.4483070000
0,16643459,Consort Restaurant,"Chinese, Canadian",2,3.0,"4931 50th Street, Consort, AB T0C 1B0",Consort,37,-110.7746994000,52.0082889000
0,18185059,Cafe Arabelle,"Cafe, American, Italian, Filipino",3,3.6,"Ayala Mall, Solenad, Nuvali, Santa Rosa - Taga...",Santa Rosa,162,121.0570400000,14.2370820000
0,18385186,The Cafe Baraco,"Cafe, Italian",2,4.4,"34, Shribhuvan Complex, Near Memnagar Fire Sta...",Ahmedabad,1,72.5504755000,23.0443367000
0,2200000,Kesar Da Dhabha,North Indian,2,4.1,"Near Telephone Exchange, Chowk Passian, Shastr...",Amritsar,1,74.8730050000,31.6243860000
0,16608483,DiVine,"Cafe, Coffee and Tea, Sandwich",2,3.4,"39 Church St, Penola, SA",Penola,14,140.8374090000,-37.3791530000
0,18400530,Noah's Barn Coffeenery,"Cafe, Coffee and Tea, Western",3,4.2,"Jl. Dayang Sumbi No. 2, Dago, Bandung",Bandung,94,107.6127895340,-6.8870575010
0,16604911,Bridge Road Brewers,"Pizza, Bar Food",2,4.6,"Old Coach House 50 Ford St, Beechworth, Beechw...",Beechworth,14,146.6858520000,-36.3604390000
0,16659169,Tokyo Sushi,"Japanese, Sushi",2,3.7,"150 Richmond St, Chatham-Kent, ON N7M2V2",Chatham-Kent,37,-82.1884380000,42.3976830000
0,18255631,Pier 70,Modern Australian,4,2.6,"70 The Esplanade, Paynesville",Paynesville,14,147.7227832000,-37.9194154000
0,17606621,HI Lite Bar & Lounge,,1,3.4,"109 N Broadway Ave, Miller, SD 57362",Miller,216,-98.9891000000,44.5158000000
0,16612028,The Belle General,Cafe,2,4.1,"12 Shelly Beach Rd, East Ballina, NSW",East Ballina,14,153.5933310000,-28.8626630000
0,17452342,Blue Orchid Thai Restaurant,Thai,2,4.5,"129 N 10th St, Lincoln, NE 68508",Lincoln,216,-96.7072000000,40.8143000000
0,16613059,Poets Cafe,"Coffee and Tea, Modern Australian",3,2.4,"167 Main St, Montville, QLD",Montville,14,152.8937350000,-26.6904620000
0,16613507,Flaxton Gardens,"Tea, Modern Australian",3,3.5,"313 Flaxton Drive, Flaxton, QLD",Flaxton,14,152.8771473000,-26.6521332000
0,17557488,Burger Queen Drive In,"Burger, Desserts, Sandwich",1,3.6,"109 S F St, Lakeview, OR 97630",Lakeview,216,-120.3458000000,42.1885000000
0,18182702,Nonna's Pasta & Pizzeria,"Italian, Pizza",3,4.0,"Ground Floor, Building G, Solenad 3, Nuvali, D...",Santa Rosa,162,121.0565873981,14.2376789732
0,16608864,Taste of Balingup,Modern Australian,2,3.2,"63 South Western Hwy, Balingup, WA",Balingup,14,115.9844924000,-33.7845269000
0,13231,Le Plaisir,"European, Desserts",3,4.8,"759/125, Rajkamal, Opposite Kelkar Eye Hospita...",Pune,1,73.8384293765,18.5142099831
0,16613649,Vivo Bar and Grill,"Mediterranean, Seafood",3,4.4,"49 Williams Esplanade, Palm Cove, QLD",Palm Cove,14,145.6707680000,-16.7480830000