In [1]:
# Importing Linear Algebra
import numpy as np

In [2]:
#Background Tool Installation
!pip install django-extensions
!pip install pyparsing
!pip install graphviz
!pip install pydot
!pip install pydotplus

Requirement already satisfied: django-extensions in d:\anaconda\lib\site-packages (3.1.5)
Requirement already satisfied: Django>=2.2 in d:\anaconda\lib\site-packages (from django-extensions) (4.0.3)
Requirement already satisfied: asgiref<4,>=3.4.1 in d:\anaconda\lib\site-packages (from Django>=2.2->django-extensions) (3.5.0)
Requirement already satisfied: backports.zoneinfo in d:\anaconda\lib\site-packages (from Django>=2.2->django-extensions) (0.2.1)
Requirement already satisfied: sqlparse>=0.2.2 in d:\anaconda\lib\site-packages (from Django>=2.2->django-extensions) (0.4.2)
Requirement already satisfied: tzdata in d:\anaconda\lib\site-packages (from Django>=2.2->django-extensions) (2022.1)
Requirement already satisfied: pyparsing in d:\anaconda\lib\site-packages (2.4.7)
Requirement already satisfied: graphviz in d:\anaconda\lib\site-packages (0.19.1)
Requirement already satisfied: pydot in d:\anaconda\lib\site-packages (1.4.2)
Requirement already satisfied: pyparsing>=2.1.4 in d:\anaconda\lib\site-packages (from pydot) (2.4.7)
Requirement already satisfied: pydotplus in d:\anaconda\lib\site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in d:\anaconda\lib\site-packages (from pydotplus) (2.4.7)

In [3]:
#Random Forest Visulization3 --Single Tree Visualization
from sklearn.tree import export_graphviz
import pydotplus
import graphviz

In [4]:
#import dependencies
from sqlalchemy import create_engine
from getpass import getpass

In [5]:
# Importing Pandas for Data processing(csv file)
import pandas as pd

In [6]:
#import database information & create engine （Password = groupfive)
password = getpass("Enter database password")


engine = create_engine(f'postgresql://postgres:{password}@europeanrestaurants.codkjybkqvuj.us-east-1.rds.amazonaws.com', 
                       echo=False)

Enter database password········

In [7]:
#fetch all data
resto_data_df = engine.execute("SELECT * FROM resto_country_data").fetchall()

In [8]:
#import data into dataframe
resto_data_df = pd.DataFrame(resto_data_df)

In [9]:
#drop old index
resto_data_df = resto_data_df.drop([0], axis=1)

In [10]:
#rename columns
resto_data_df = resto_data_df.rename(columns={1: 'restaurant_name',
                                              2: 'country',
                                              3: 'latitude',
                                              4:'longitude',
                                              5:'awards',
                                              6:'price_level',
                                              7:'avg_rating',
                                              8:'total_reviews_count',
                                              9:'michelin',
                                              10: 'any_award',
                                              11:'country_population',
                                              12:'country_area',
                                              13:'country_pop_density',
                                              14:'country_gdp',
                                              15:'country_service'
                                           })

In [11]:
#Getting the final Dataset
resto_data_df = resto_data_df.rename_axis('Index')
resto_data_df

,restaurant_name,country,latitude,longitude,awards,price_level,avg_rating,total_reviews_count,michelin,any_award,country_population,country_area,country_pop_density,country_gdp,country_service
Index,,,,,,,,,,,,,,,
0,Le 147,France,45.961674,1.169131,None,1,4.0,36.0,0.0,0,60876136,547030,111.3,27600.0,0.764
1,Le Saint Jouvent,France,45.957040,1.205480,None,1,4.0,5.0,0.0,0,60876136,547030,111.3,27600.0,0.764
2,Au Bout du Pont,France,46.635895,1.386133,None,1,5.0,13.0,0.0,0,60876136,547030,111.3,27600.0,0.764
3,Le Relais de Naiade,France,45.642610,1.824460,None,1,4.0,34.0,0.0,0,60876136,547030,111.3,27600.0,0.764
4,Relais Du MontSeigne,France,44.208860,2.960470,None,2,4.5,11.0,0.0,0,60876136,547030,111.3,27600.0,0.764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422062,Motte & Bailey Restaurant,Ireland,53.427540,-7.773970,Certificate of Excellence 2017,2,4.5,104.0,0.0,1,4062235,70280,57.8,29600.0,0.490
422063,Frank's Cafe,Ireland,53.396410,-7.724860,None,1,5.0,8.0,0.0,0,4062235,70280,57.8,29600.0,0.490
422064,Supermac's & Papa John's,Ireland,53.395520,-7.720757,None,1,4.5,11.0,0.0,0,4062235,70280,57.8,29600.0,0.490
422065,Tuar Ard Coffee Shop & Restaurant,Ireland,53.395832,-7.725000,"Travellers' Choice, Certificate of Excellence ...",2,4.5,106.0,0.0,1,4062235,70280,57.8,29600.0,0.490
422066,P. Egan's Bar,Ireland,53.395930,-7.721720,None,1,5.0,23.0,0.0,0,4062235,70280,57.8,29600.0,0.490

In [12]:
# Split the data into train and test
from sklearn.model_selection import train_test_split

In [13]:
# Classification for Random Forest
from sklearn.ensemble import RandomForestClassifier

In [14]:
# Error Return and Analysis
from sklearn.metrics import mean_squared_error

In [15]:
# Classification return
from sklearn.metrics import classification_report

In [16]:
#Dataset from Deliverable 2
#oneStar = pd.read_csv("Resources/one-star-michelin-restaurants.csv") 
#twoStar = pd.read_csv("Resources/two-stars-michelin-restaurants.csv") 
#threeStar = pd.read_csv("Resources/three-stars-michelin-restaurants.csv") 
#oneStar["star"] = 1 #Fill the one star sets with 1
#twoStar["star"] = 2 #Fill the two star sets with 2
#threeStar["star"] = 3 #Fill the three star sets with 3
#threeStar.head() #Take a peek at one of the sets

In [17]:
#Dataset from Deliverable 2
#datasets = [oneStar, twoStar, threeStar] #Take the three datasets
#stars = pd.concat(datasets) #Combine the datasets
#stars.head() #Take a peek at the combined dataset

In [18]:
#Dataset from Deliverable 2
#stars = stars.reset_index() #Reset the index
#stars.head() #Take a peek at the combined dataset

In [19]:
#reset the index for deliverable 3
resto_data_df = resto_data_df.reset_index()
resto_data_df

,Index,restaurant_name,country,latitude,longitude,awards,price_level,avg_rating,total_reviews_count,michelin,any_award,country_population,country_area,country_pop_density,country_gdp,country_service
0,0,Le 147,France,45.961674,1.169131,None,1,4.0,36.0,0.0,0,60876136,547030,111.3,27600.0,0.764
1,1,Le Saint Jouvent,France,45.957040,1.205480,None,1,4.0,5.0,0.0,0,60876136,547030,111.3,27600.0,0.764
2,2,Au Bout du Pont,France,46.635895,1.386133,None,1,5.0,13.0,0.0,0,60876136,547030,111.3,27600.0,0.764
3,3,Le Relais de Naiade,France,45.642610,1.824460,None,1,4.0,34.0,0.0,0,60876136,547030,111.3,27600.0,0.764
4,4,Relais Du MontSeigne,France,44.208860,2.960470,None,2,4.5,11.0,0.0,0,60876136,547030,111.3,27600.0,0.764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422062,422062,Motte & Bailey Restaurant,Ireland,53.427540,-7.773970,Certificate of Excellence 2017,2,4.5,104.0,0.0,1,4062235,70280,57.8,29600.0,0.490
422063,422063,Frank's Cafe,Ireland,53.396410,-7.724860,None,1,5.0,8.0,0.0,0,4062235,70280,57.8,29600.0,0.490
422064,422064,Supermac's & Papa John's,Ireland,53.395520,-7.720757,None,1,4.5,11.0,0.0,0,4062235,70280,57.8,29600.0,0.490
422065,422065,Tuar Ard Coffee Shop & Restaurant,Ireland,53.395832,-7.725000,"Travellers' Choice, Certificate of Excellence ...",2,4.5,106.0,0.0,1,4062235,70280,57.8,29600.0,0.490
422066,422066,P. Egan's Bar,Ireland,53.395930,-7.721720,None,1,5.0,23.0,0.0,0,4062235,70280,57.8,29600.0,0.490

In [20]:
stars = resto_data_df
stars

,Index,restaurant_name,country,latitude,longitude,awards,price_level,avg_rating,total_reviews_count,michelin,any_award,country_population,country_area,country_pop_density,country_gdp,country_service
0,0,Le 147,France,45.961674,1.169131,None,1,4.0,36.0,0.0,0,60876136,547030,111.3,27600.0,0.764
1,1,Le Saint Jouvent,France,45.957040,1.205480,None,1,4.0,5.0,0.0,0,60876136,547030,111.3,27600.0,0.764
2,2,Au Bout du Pont,France,46.635895,1.386133,None,1,5.0,13.0,0.0,0,60876136,547030,111.3,27600.0,0.764
3,3,Le Relais de Naiade,France,45.642610,1.824460,None,1,4.0,34.0,0.0,0,60876136,547030,111.3,27600.0,0.764
4,4,Relais Du MontSeigne,France,44.208860,2.960470,None,2,4.5,11.0,0.0,0,60876136,547030,111.3,27600.0,0.764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422062,422062,Motte & Bailey Restaurant,Ireland,53.427540,-7.773970,Certificate of Excellence 2017,2,4.5,104.0,0.0,1,4062235,70280,57.8,29600.0,0.490
422063,422063,Frank's Cafe,Ireland,53.396410,-7.724860,None,1,5.0,8.0,0.0,0,4062235,70280,57.8,29600.0,0.490
422064,422064,Supermac's & Papa John's,Ireland,53.395520,-7.720757,None,1,4.5,11.0,0.0,0,4062235,70280,57.8,29600.0,0.490
422065,422065,Tuar Ard Coffee Shop & Restaurant,Ireland,53.395832,-7.725000,"Travellers' Choice, Certificate of Excellence ...",2,4.5,106.0,0.0,1,4062235,70280,57.8,29600.0,0.490
422066,422066,P. Egan's Bar,Ireland,53.395930,-7.721720,None,1,5.0,23.0,0.0,0,4062235,70280,57.8,29600.0,0.490

In [21]:
print(stars.columns)

Index(['Index', 'restaurant_name', 'country', 'latitude', 'longitude',
       'awards', 'price_level', 'avg_rating', 'total_reviews_count',
       'michelin', 'any_award', 'country_population', 'country_area',
       'country_pop_density', 'country_gdp', 'country_service'],
      dtype='object')

In [22]:
#Dataset from Deliverable 2
#print(stars.columns)

In [111]:
test_percent = 0.45

In [79]:
#resto_data_df = resto_data_df.drop(resto_data_df.columns[[1,2,3,4,5,6,7,10]], axis = 1, inplace = True)
#resto_data_df.head()

In [80]:
#Dataset_final = pd.read_csv(".../resources/Dataset_fianl.csv")#AWS FILE TO CSV
#Dataset_final.head()

In [81]:
#stars = datasets
#stars = stars.reset_index()
#stars.head()

In [82]:
print(stars.isnull().any())

Index                  False
price_level            False
avg_rating             False
total_reviews_count    False
michelin               False
any_award              False
dtype: bool

In [83]:
#stars["price"] = stars["price"].fillna("?") #Fill null prices with unknown ?
#print(stars.isnull().any()) #Make sure all null values are filled

In [84]:
#stars["city"] = stars["city"].fillna("Hong Kong") #Fill the null cities will Hong Kong, since all of the null ones are in HK
#print(stars.isnull().any()) #Make sure that filled the nulls

In [85]:
#print(stars.loc[stars["zipCode"].isnull()][:4])

In [86]:
stars.describe()

,Index,price_level,avg_rating,total_reviews_count,michelin,any_award
count,422067.000000,422067.000000,422067.000000,422067.000000,422067.000000,422067.000000
mean,211033.000000,1.714424,4.050073,163.013479,0.015085,0.386491
std,121840.392371,0.521439,0.632334,318.557740,0.121892,0.486946
min,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,105516.500000,1.000000,3.500000,21.000000,0.000000,0.000000
50%,211033.000000,2.000000,4.000000,61.000000,0.000000,0.000000
75%,316549.500000,2.000000,4.500000,181.000000,0.000000,1.000000
max,422066.000000,3.000000,5.000000,31144.000000,1.000000,1.000000

In [87]:
stars.drop('restaurant_name', axis=1, inplace=True)
stars.drop('country', axis=1, inplace=True)
stars.drop('longitude', axis=1, inplace=True)
stars.drop('latitude', axis=1, inplace=True)
stars.drop('awards', axis=1, inplace=True)
stars.drop('latitude', axis=1, inplace=True)

stars

KeyError: "['restaurant_name'] not found in axis"

In [88]:
stars.drop('country_population', axis=1, inplace=True)
stars.drop('country_area', axis=1, inplace=True)
stars.drop('country_pop_density', axis=1, inplace=True)
stars.drop('country_gdp', axis=1, inplace=True)
stars.drop('country_service', axis=1, inplace=True)

KeyError: "['country_population'] not found in axis"

In [89]:
stars.describe()

,Index,price_level,avg_rating,total_reviews_count,michelin,any_award
count,422067.000000,422067.000000,422067.000000,422067.000000,422067.000000,422067.000000
mean,211033.000000,1.714424,4.050073,163.013479,0.015085,0.386491
std,121840.392371,0.521439,0.632334,318.557740,0.121892,0.486946
min,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,105516.500000,1.000000,3.500000,21.000000,0.000000,0.000000
50%,211033.000000,2.000000,4.000000,61.000000,0.000000,0.000000
75%,316549.500000,2.000000,4.500000,181.000000,0.000000,1.000000
max,422066.000000,3.000000,5.000000,31144.000000,1.000000,1.000000

In [90]:
#pip install geopy

In [91]:
#import geopy

In [92]:
#geolocator = geopy.Nominatim(user_agent = "user_agent") #Get the geolocator

#For each row, fill null postcodes
#for i in range(0, len(stars.index)):
   # zipCode = stars["zipCode"][i] #Get the zipcode
    
    #If the zipcode is null
   # if zipCode is np.nan:
       # location = geolocator.reverse((stars["latitude"][i], stars["longitude"][i])) #Get the zip code from the geolocator
        
        #Try to get the postcode/zipcode field from the locator
       # try:
           # stars["zipCode"][i] = location.raw["address"]["postcode"] #Get the zip code
        
        #Fill the code with 00000 if the code cannot be accessed
       # except:
           # stars["zipCode"][i] = "00000" #Fill the zip code with 00000
        
#print(stars.isnull().any()) #Make sure the null values have been filled

In [93]:
#print(stars.loc[[59]]) #Print a row with the zip code filled
#print(stars.loc[[137]]) #Print a Hong Kong row that was null, which has no zip code field, so fill with 00000

In [94]:
#Random Forest Model to Csv
import joblib
import pickle
import csv

In [112]:
#GetChara: Get the most important features to the classification
#Input: the characteristics, the model
#Output: None
def getChara(characteristics, forest):
    attributes = characteristics.columns #Get the tested attributes
    attributes = list(zip(attributes, forest.feature_importances_)) #Zip the attributes together with their coefficient
    sortAtt = sorted(attributes, key = lambda x: x[1], reverse = True) #Sort the zipped attributes by their coefficients

    print("According to the Random Forest, the most important factors for restaurant stars are: ") #Start printing the most important labels
    i = 0 #Counter variable so only the top five are printed

    #For each attribute in the sorted attributes
    for label, coef in sortAtt:
        if i < 5: #If there has not been five printed yet
            print(label) #Print the label as an important factor
        i += 1 #Increase i by 1

#ClassifyStars: Classify which restaurants are [1] with one or more stars, or [0] without any stars.
#Input: The dataframe for the restaurants, the labels used
#Output: None
def classifyStars(stars, labels):
    star = stars["michelin"].copy() #Get the star as our classification metric
    star = pd.get_dummies(star) #Get dummies for the star metric

    characteristics = stars.drop(columns = {"michelin"}).copy() #Get the characteristics used for classification
    characteristics = pd.get_dummies(characteristics)
    
    charaTrain, charaTest, starTrain, starTest = train_test_split(characteristics, star, test_size = test_percent) #Split the dataset
    
    forest = RandomForestClassifier(n_estimators = 1000, random_state = 5) #Build a forest
    forest.fit(charaTrain, starTrain) #Fit the forest model
    
    predict = forest.predict(charaTest) #Get a list of predictions
    pd.DataFrame(predict).to_csv("predictionRF1.csv")
    #predict.to_csv(r'../predictionRF1.csv') #Random forest predict data to local csv
    
    print("Forest Accuracy: ", forest.score(charaTest, starTest)) #Print the accuracy
    print("Root Mean Square Error: ", np.sqrt(mean_squared_error(starTest, predict))) #Print the root mean square error
    print("Classification Report:\n ", classification_report(starTest, predict, target_names = labels, zero_division = 0)) #Print a classification report
    
    #Ramdon Forest Model to Local
    forest.predict(charaTrain)
    joblib.dump(forest, "./random_forest.joblib")
    filename = 'finalized_model.sav'
    pickle.dump(forest, open(filename, 'wb'))
    loaded_model = pickle.load(open(filename, 'rb'))
    result = loaded_model.score(charaTest, starTest)
    

    
    #print(result)    
    
    #Pull out the Tree
    #SingleTree = forest.estimators_[5] #Choose the single tree
    #feature_list = list(characteristics.columns) #Create the Feature list for the tree
    #export_graphviz(SingleTree, out_file = 'Outcome/tree.dot', feature_names = feature_list, rounded = True, precision = 1) #Generate Dot file
    #graph = pydotplus.graph_from_dot_file('Outcome/tree.dot') #Visualization for The Tree
    #graph.write_pdf("tree.pdf")
    

    getChara(characteristics, forest) #Get the important Characteristics

In [113]:
#Try dropping the index column
try:
    stars = stars.drop(columns = "index") #Drop the index column

#Fill the except clause so it does not throw the error
except:
    a = 1 #Filler
    
#What to do after the index is dropped
finally:
    #labels = ["1", "2", "3"] #Set the labels
    labels = ["0","1"]
    classifyStars(stars, labels) #Classify by star amount

Forest Accuracy:  0.9853841658286431
Root Mean Square Error:  0.12084151396143145
Classification Report:
                precision    recall  f1-score   support

           0       0.99      1.00      0.99    187133
           1       0.51      0.28      0.36      2798

   micro avg       0.99      0.99      0.99    189931
   macro avg       0.75      0.64      0.68    189931
weighted avg       0.98      0.99      0.98    189931
 samples avg       0.99      0.99      0.99    189931

According to the Random Forest, the most important factors for restaurant stars are:
Index
total_reviews_count
price_level
any_award
avg_rating